body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000; 
    font-family: 'Courier New', Courier, monospace; 
}

#hud {
    position: absolute; bottom: 0; width: 100%; height: 60px;
    background: #111; border-top: 4px solid #444;
    display: flex; justify-content: space-around; align-items: center;
    color: #ff0000; font-size: 24px; font-weight: bold; z-index: 100;
}

.label { font-size: 12px; color: #666; display: block; }

/* Центрированный прицел */
#crosshair {
    position: absolute; 
    top: 50%; left: 50%;
    width: 6px; height: 6px;
    border: 1px solid #0f0;
    border-radius: 50%; 
    transform: translate(-50%, -50%);
    pointer-events: none; 
    z-index: 50;
    transition: all 0.05s;
}

#weapon-container {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: flex-end;
    pointer-events: none; 
    z-index: 10;
}

#weapon {
    width: 600px; 
    height: 600px;
    background-image: url('assets/sprites/pistol.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    transform-origin: bottom center;
}
